<%= form_with(model: question) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>
      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br/>
  <div class="field">
    <%= form.text_field :title,class: "form-control", placeholder: "عنوان الموضوع" %>
  </div>
<br/>
  <div class="field">
    <%= form.text_area :content,  class: "form-control", placeholder: "محتوى الموضوع" %>
  </div>
<br/>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
