<html lang='ar' dir="rtl">
<br/>
<% if user_signed_in? %>
<h4 colors=$teal-300> مرحبًا <%= current_user.username %> </h4>
<%end %>

<br/>
<div class="card-header">
<h1>قائمة المواضيع</h1>
</div>
  <br/>

    <% @questions.each do |question| %>
  <div class="card  ">
        <h5 class="card-header"><%= question.title %></h5>
    <div class="card-body" >
        <p class="card-text"><%= question.content %></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
        <td><%= link_to 'اظهار', question %></td>
        <td><%= link_to 'تعديل', edit_question_path(question) %></td>
        <td><%= link_to 'حذف', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </div>
    </div>

      <br/>
<% end %>
<%= link_to 'سؤال جديد', new_question_path, class:"btn btn-primary" %>
  </div>
</div>

</html>
