<html lang='ar' dir="rtl">

    <br/><br/>

    <% if user_signed_in? %>
    <div class="form-group">
      <%= image_tag current_user.avatar_thumbnail, class: 'rounded-circle'%>
      <h3> مرحبًا <%= current_user.username %></h3>
    </div>
    <%end %>
<br/>

  <div class="card text-light bg-dark">
     <h1 class="card-header"> قائمة المواضيع </h1>
  </div>
    <br/>
      <% if user_signed_in? %>
  <%= link_to 'سؤال جديد', new_question_path, class:"btn btn-dark" %>
      <% else %>
  <%= link_to "سؤال جديد", new_user_session_path, class:"btn btn-dark" %>
      <% end %>

<br/><br/>
      <br/><br/>

      <div class="digg_pagination">
        <%= will_paginate @questions, :container => false %>
      </div>

      <br>
    <% @questions.each do |question|  %>
  <div class="card text-right">
    <div class="row align-content justify-items">

      <div class="user_details col-auto rows-3 ">
        <%= image_tag question.user.avatar_thumbnail, class: 'rounded-circle position-relative top-50 start-50 translate-middle '%>
      </div>

      <div class="col">
        <div class="card-title" >
          <h4><%=link_to question.title, question, class: 'card-title-text '%>   </h4>
        </div>
        <div class="card-body">
          <p class="card-text"><%= question.content %></p>
        </div>
        <div class="card-footer text-muted style="width="90rem;" >
          <small> نٌشِر منذ : <%= time_ago_in_words(question.created_at) %> </small>
          <td><%= link_to 'اظهار', question %></td>
          <strong class="text-dark">بواسطة :  <%= question.user.username %>  </strong>
          <% if user_signed_in? && question.user_id == current_user.id or current_user.try(:admin?) %>
            <td><%= link_to 'تعديل', edit_question_path(question), class: "btn btn-outline-primary btn-sm" %></td>
            <td><%= button_to 'حذف', question_path(question), data: {confirm: "Are you sure?"}, method: :delete,  class: "btn btn-outline-danger btn-sm" %></td>
          <%end %>
        </div>
      </div>

      <!-- نظام التصويت -->
      <div class="user_details col-auto">
        <div class="position-relative top-50 start-50 translate-middle">
          <div id='like-count'>
            <%=render 'questions/like', question: question %>
          </div>
          <div id='like-link'>
            <h4> <%=render 'questions/like_link', question: question %></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/><br>
<%end %>

<br/><br/>
<div class="digg_pagination">
  <%= will_paginate @questions, :container => false %>
</div>
<br>
</html>
