<html lang='ar' dir="rtl">
<br/>

<% if user_signed_in? %>
  <div class="form-group">
      <br/><br/>

    <br/><br/>
    <h3> مرحبًا <%= current_user.username %></h3>
<%end %>



<br/> <br/>

<div class="card-header">
  <h1>قائمة المواضيع</h1>
</div>
  <br/>

    <% @questions.each do |question| %>

  <div class='card'>
        <div>
              <h5 class="card-header"> <%= question.title %> </h5>
              <p class="card-body"> <%= question.content %> </p>
        </div>
        <div class="card-footer">
              <small> <%=  question.updated_at %> </small>
              <td><%= link_to 'اظهار', question %></td>
              <td><%= link_to 'تعديل', edit_question_path(question) %></td>
              <td><%= button_to 'حذف', question_path(question), data: {confirm: "Are you sure?"}, method: :delete,  class: "btn btn-outline-danger btn-sm" %></td>
      <br/>
        </div>
<% end %>
  </div>
</div>
<br/>
<br/>
<% if user_signed_in? %>
  <%= link_to 'سؤال جديد', new_question_path, class:"btn btn-primary" %>
<% else %>
  <%= link_to "'سؤال جديد", new_user_registration_path, class:"btn btn-primary" %>
<% end %>

<br/>

<% @questions.each do |question| %>
<div class="card">

  <div class="card-img-right">
    <%= image_tag current_user.avatar_thumbnail, class: 'rounded-circle'%>
  </div>
             <div class="col">
                  <h5 class="card-header"><%= question.title %></h5>
             </div>
             <div>
                   <p class="card-body"><%= question.content %></p>
              </div>
    <div class="card-footer">
      <small> <%=  question.updated_at %> </small>
      <td><%= link_to 'اظهار', question %></td>
      <td><%= link_to 'تعديل', edit_question_path(question) %></td>
      <td><%= button_to 'حذف', question_path(question), data: {confirm: "Are you sure?"}, method: :delete,  class: "btn btn-outline-danger btn-sm" %></td>
    </div>

  </div>
  <br/>
<% end %>
<%= link_to 'سؤال جديد', new_question_path, class:"btn btn-primary" %>
</div>
</div>
<br/><br/>
</html>
