<p id="notice"><%= notice %></p>
<div class="card" style="width: 50rem;">
  <div class="card-body">
    <h5 class="card-title"><strong>العنوان:</strong>
      <%= @question.title %>
    </h5>
    <p class="card-text"><strong>المحتوى:<br/></strong>
      <%= @question.content %>
    </p>
    <%= link_to 'تعديل', edit_question_path(@question) %> |
    <%= link_to 'العودة', questions_path %>
  </div>
</div>