<p id="notice"><%= notice %></p>
<div class="card" style="width: 79rem;">
  <div class="card-body">
    <%= image_tag @question.user.avatar_thumbnail, class: 'rounded-circle '%>
    <H3><%= @question.user.username %> </H3>

    <h5 class="card-title"><strong>العنوان:</strong>
      <%= @question.title %>
    </h5>
    <p class="card-text"><strong>المحتوى:<br/></strong>
      <%= @question.content %>
    </p>
    <%= link_to 'تعديل', edit_question_path(@question) %> |
    <%= link_to 'العودة', questions_path %>
   <p>كتبت بواسطة <%= @question.user.username %> </p>

        <!-- نظام التصويت-->
    <div id='like-count'>
      <%=render 'questions/like', question: @question %>
    </div>
    <div id='like-link'>
      <%=render 'questions/like_link', question: @question %>
    </div>
  </div>
</div>
<br/>

      <!-- التعليقات-->
<div class="card mb-3">
  <div class="card-body">
  <%= form_with(model: [@question, @question.comments.build]) do |f| %>
      <div class="form-group">
        <%= f.text_area :body, class: 'form-control', placeholder: 'إضافة رد جديد' %>
      </div><br/>
      <%= f.submit 'إرسال', class: 'btn btn-primary' %>
      </div>
  <% end %>
    </div>
<div class="card mb-3">
<div class="card-header bg-info">
  <h4 class="font-weight-bold">التعليقات</h4>
</div>
<div class="card-body">
<%= render @question.comments %>
</div>
</div>
</div>
