<p id="notice"><%= notice %></p>
<div class="card" style="width: 50rem;">
  <div class="card-body">
    <%= image_tag @question.user.avatar_thumbnail, class: 'rounded-circle'%>
    <H3><%= @question.user.username %> </H3>

    <h5 class="card-title"><strong>العنوان:</strong>
      <%= @question.title %>
    </h5>
    <p class="card-text"><strong>المحتوى:<br/></strong>
      <%= @question.content %>
    </p>
    <%= link_to 'تعديل', edit_question_path(@question) %> |
    <%= link_to 'العودة', questions_path %>
   <p>كتبت بواسطة <%= @question.user.username %> </p>

    <!-- نظام التصويت-->
    <div id='like-count'>
      <%=render 'questions/like', question: @question %>
    </div>
    <div id='like-link'>
      <%=render 'questions/like_link', question: @question %>
    </div>
  </div>
</div>

      <!-- التعليقات-->
<div class="card my-1">
  <div class="card-body">
    <p class="font-weight-bold">Comments</p>
    <%= form_with(model: [@question, @question.comments.build]) do |f| %>
      <div class="form-group">
        <%= f.label 'New comment' %>
        <%= f.text_area :body, class: 'form-control' %>
      </div>
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<%= render @question.comments %>