<html  >

<br/>

<!--
هنا لازم نضيف قائمة اسئلة العضو نفسه
-->

<br/>

<div class="card" >
  <div class="card-header">
    <h4>اعدادات الحساب<% resource_name.to_s.humanize %></h4>
  </div>


      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

    <br>
      <div class="form-group">
          <div class="col-sm-4">
            <%= image_tag (resource.user_avatar), class: "rounded-circle"  %>
          </div>
        <br>
          <div class="col-sm-8">
            <%=f.file_field :avatar , autofocus: true, class: "form-control"%>
          </div>
    <br>
        <div class="field">
          <% f.label :username %>
          <%= f.text_field :username, autofocus: true, class: "form-control", placeholder: "اسم المستخدم"%>
        </div>


        <div class="field">
          <% f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "الايميل"%>
        </div>
        <br/>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <% f.label :password %>

          <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "كلمة المرور الجديدة  (اذا لا تريد تغيير كلمة المرور اتركها فارغة)" %>
          <% if @minimum_password_length %>
            <em><% @minimum_password_length %> </em>
          <% end %>
        </div>

        <div class="field">
          <% f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password",  class: "form-control", placeholder: "تأكيد كلمة المرور" %>
        </div>
        <br/>
        <div class="field">
          <p class="badge rounded-pill bg-danger"> يجب ادخال كلمة المرور لحفظ اي تغييرات</p>
          <% f.label :current_password %> <i></i>
          <%= f.password_field :current_password, autocomplete: "current-password",  class: "form-control", placeholder: "كلمة المرور الحالية  (يجب ادخالها لحفظ التغييرات)" %>
        </div>

        <br/>
        <div class="actions">
          <%= f.submit "تحديث", class:"btn btn-outline-info"   %>
        </div>
    <br/>
    <%= link_to "رجوع", :back, class:"btn btn-light"%>
        <br/>
      <% end %>
      <br/>
</div>
</div>
<br/>
<div class="card">
  <div class="card-body">

    <p>تستطيع إلغاء الحساب من هنا <%= button_to "إلغاء الحساب", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger" %></p>

</div>


</div>
<br/>
<br/>

</html>