<html dir="rtl">
<br/>
<h2>للتسجيل</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <br/>
  <div class="field form-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder:" الايميل" %>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <em><%=  %></em>
    <% end %>
    <br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder:"كلمة المرور" %>
  </div>
<br/>
  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder:"تأكيد كلمة المرور" %>
  </div>

  <br/>
  <div class="actions">
    <%= f.submit "تسجيل", class:"btn btn-primary" %>
  </div>
<% end %>
<br/>
<%= render "devise/shared/links" %>
</html>