<div class="card" style="width: 79rem;">
  <div class="card-body">
    <%= image_tag @comment.user.user_avatar, class: 'rounded-circle '%>
    <br/>
    <H3><%= @comment.user.username %> </H3>
    <br/>

    <p class="card-text"><strong>المحتوى:<br/></strong>
      <%= @comment.body  %>
    </p>
    <%= link_to 'تعديل', edit_comment_path(@comment) %> |
    <%= link_to 'العودة',@question  %>