<nav class=" navbar navbar-expand-lg navbar-dark bg-secondary" dir="rtl">
  <div class="container-fluid">

    <%= link_to image_tag("Logo.png", width:'270px', height: '70px'), root_path , class:"navbar-brand" %>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
      <% if user_signed_in? %>
          <li class="nav-links" dir="rtl">
            <%= link_to "الملف الشخصي",  edit_user_registration_path, class:"nav-link border rounded" %>
          </li>

          <li class="nav-links" dir="rtl">
            <%= link_to "تسجيل الخروج",  destroy_user_session_path, method: :delete, class:"nav-link border rounded" %>
          </li>

      <% else %>

        <li class=" nav-links" dir="rtl">
          <%= link_to "للتسجيل", new_user_registration_path, class:"nav-link border rounded" %>
        </li>

        <li class="nav-links" dir="rtl">
          <%= link_to "تسجيل الدخول",new_user_session_path, class:"nav-link border rounded" %>
        </li>

    <% end %>

      <li class="nav-links" dir="rtl">
        <%= link_to "الصفحة الرئيسية",questions_path , class:"nav-link border rounded" %>
      </li>
    </ul>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
    </div>

      <form  class="navbar-nav">
        <button class="btn btn-dark" type="submit">بحث</button>
        <%if @q%>
         <%= search_form_for @q do |f| %>
           <%= f.search_field :title_cont %>
         <%end %>
        <%end %>
      </form>

  </div>
</nav>